/* #FF7F3E orange 
#FFF6E9 white 
#80C4E9 sky blue
#604CC3 blue */


:root {
  --orange: #FF7F3E;
  --white: white ;
  --skyblue : #80C4E9 ;
  --blue : #604CC3 ;
  --black :#252424 ;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  background:var(--white);
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

